<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Taviraj:100' rel='stylesheet' type='text/css'>
<style>
body{
  background-color: #17202A;
}

#homeScreen{
font-family: 'Roboto', sans-serif;
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
}

#title{
font-size: 400%;
color: white;
}

#devVersion{
color: white;
}

a{
display: block;
text-align: center;
color: #3498DB;
font-weight: bold;
}

</style>
</head>
<body>
<div id="homeScreen"><span id="title">poppy</span><span id="devVersion">alpha</span><br/><br/><a href="/quotes">ENTER</a></div>
</body>
</html>